[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint-django = "*"
crispy-forms-materialize = "*"

[dev-packages]
"pep8" = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
